
.article-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: var(--borderRadiusSmall);
  transition:all 0.4s;
  background-size: 100%;
  margin-top: 5rem;
}

.section-post{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.5px solid #294d61;
  margin-top: 5em;
  background:linear-gradient(144deg,#E6E3D7,#ffffff, 75%,#F6F2E7);
  width: 50rem;
  border-radius: var(--borderRadiusSmall);
  box-shadow: var(--borderColorShadow);
}

