.aside-category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 13rem;
  height: 100%;
  background: var(--midBlue);
  border-right: 0.5px solid var(--darBlueOpacity);
  position: fixed;
  z-index: 10;
}
.ul-category-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1rem;
}
.img-logo-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
}

.name-button-category {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.a-subcategory-category {
  display: flex;
  margin: 16px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  color: white;
}

.li-category {
  list-style: none;
  color: white;
  position: relative;
}

.h3-category {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 8px;
  color: white;
}

.ul-subcategory-category {
  list-style: none;
}
