.div-not-found-father {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadiusSmall);
  transition:all 0.4s;
  background-size: 100%;
  margin-right: 150px;
}

.div-not-found-son {
  display: flex;
  align-items: left;
  flex-direction: column;
  border: 0.5px solid #294d61;
  margin: 5em;
  background:linear-gradient(144deg,#E6E3D7,#ffffff, 75%,#F6F2E7);  width: 50em;
  border-radius: var(--borderRadiusSmall);
  box-shadow: 5px 5px 10px #888888 ;
  padding: 1.5rem;
  gap: 0.3rem;
}
.title-not-found {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.img-not-found{
  object-fit: fill;
}