.div-register {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadiusSmall);
  transition:all 0.4s;
  background-size: 100%;
  margin-right: 150px;
}

.form-register {
  display: flex;
  align-items: left;
  flex-direction: column;
  border: 0.5px solid #294d61;
  margin: 5em;
  background:linear-gradient(144deg,#E6E3D7,#ffffff, 75%,#F6F2E7);
  width: 50em;
  height: 30em;
  border-radius: var(--borderRadiusSmall);
  box-shadow: 5px 5px 10px #888888 ;
  padding: 1.5rem;
  gap: 0.3rem;
}

.title-register {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 100%;
  }

  label {
    margin-left: 2rem;
    font-size: 1.2rem;
  }

  input {
    border-radius: var(--borderRadiusSmall);
    width: 40rem;
    height: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
  }

  .button-register{
    border-radius: var(--borderRadiusSmall);
    background:var(--midBlue) ;
    color: white;
    border: 1px #6da5c0 solid;
    width: 10em;
    height: 3rem;
    margin-top: 1.4rem;
    margin-left: 18rem;
    font-size: 1rem;
  }
  .button-register:hover{
    background: var(--midBlue) ;
    color: white;
    box-shadow: none;
    cursor: pointer;
  }


