.div-create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadiusSmall);
  transition:all 0.4s;
  background-size: 100%;
  margin-top: 5rem;
}

.h2-div {
  display: flex;
}

.form-create-post {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border: 0.5px solid #294d61;
  margin: 5em;
  background:linear-gradient(144deg,#E6E3D7,#ffffff, 75%,#F6F2E7);  width: 50em;
  height: 35em;
  border-radius: var(--borderRadiusSmall);
  box-shadow: var(--borderColorShadow) ;
  padding: 1.5rem;
  gap: 0.3rem;
}

.title-create-post {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%;
  padding-inline: 100px;
}

.logo-new-post {
  max-width: 1.5rem;
}

.label-post-create {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.input-post-create {
  border-radius: var(--borderRadiusSmall);
  width: 40rem;
  height: 2rem;
  margin-left: 2rem;
  padding-left: 1rem;
}

.input-post-create-txt {
  border-radius: var(--borderRadiusSmall);
  width: 40rem;
  height: 7rem;
  margin-left: 2rem;
  padding-left: 1rem;
}

.button-generic {
  border-radius: var(--borderRadiusSmall);
  background:var(--midBlue) ;
  color: var(--white);
  border: 1px var(--darBlueOpacity) solid;
  width: 10em;
  height: 2.5em;
}

.adjuntar-boton {
  display: flex;
  flex-direction: column;
}

.custom-file-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--borderRadiusSmall);
  background:var(--midBlue) ;
  color: white;
  border: 1px var(--darBlueOpacity) solid;
  width: 12em;
  height: 3em;
}

.icon-image {
  max-width: 1.5rem;
}

.input-file{
  display: none;
}


.button-generic:hover {
  background: var(--midBlue) ;
  color: var(--white);
  box-shadow: none;
  cursor: pointer;  
}

.button-position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-create-post {
  justify-content: end;
}

.div-preview-img{
  display: flex;
  justify-content: center;
}

.img-preview {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.category-menu {
  position: relative;
  display: inline-block;
}

/* Estilo para la lista de opciones desplegable */
.category-menu-select{
  color: var(--white);
  background-color: var(--midBlue);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: var(--borderRadiusSmall);
  font-size: large  ;
  border: 1px var(--darBlueOpacity) solid;
  width: 12em;
  height: 2.5em;
}

/* Estilo para cada opción en el menú desplegable */
.category-menu-select .option-subcategory {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.option-subcategory{
  border-radius: var(--borderRadiusSmall);
  background:var(--midBlue) ;
  color: white;
  border: 1px var(--darBlueOpacity) solid;
  width: 10em;
  height: 2.5em;
}

/* Estilo para cada opción en el menú desplegable */
.category-menu-select .option-category {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.option-category{
  border-radius: var(--borderRadiusSmall);
  background:var(--midBlue) ;
  color: white;
  border: 1px var(--darBlueOpacity) solid;
  width: 10em;
  height: 2.5em;
}



/* Mostrar el menú desplegable cuando se pasa el ratón por encima del botón */
.category-menu:hover .category-menu-select {
} 