
.ul-menu-circular-component{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.button-menu-circular-component{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.button-first-menu-circular-component{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 1s ease;
  transform: translateX(20%);
}

.button-second-menu-circular-component {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 1s ease;
  transform: translateX(0%);
}

.div-button-users-header {
  display: flex;
  gap: 0em;
  position: fixed;
  right: 35px;
}

.button-menu{ 
  background: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.img-search-header{
  width: 30px;
  height: 30px;
}

.div-menu-circular-component{
  
}