.tweet-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.tweet-footer > div {
  display: flex;
  align-items: center;
}

.tweet-footer > div > div.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  background-image: url('/heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.tweet-footer > div > div.heart:hover {
  background-position: right;
}

.tweet-footer > div > div.heart.like {
  animation: heart-burst 0.8s steps(28) 1;
  animation-fill-mode: forwards;
}

@keyframes heart-burst {
  from {
      background-position: left;
  }
  to {
      background-position: right;
  }
}
