.div-footer-post{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1em;
}
.div-like-footer-post{
  display: flex;
  gap: 1em;
}

.div-comment-footer-post{
  display: flex;
  gap: 1em;
  
}

.button-like-footer-post{
  border-radius: var(--borderRadiusSmall);
  background:transparent ;
  color: white;
  border: none;
  padding: 1px;
}

.button-like-footer-post:hover{

  box-shadow: none;
  cursor: pointer;
}

.button-dislike-footer-post{
  border-radius: var(--borderRadiusSmall);
  background:transparent ;
  color: white;
  border: none;
  padding: 1px;
}

.button-dislike-footer-post:hover{

  box-shadow: none;
  cursor: pointer;
}

.button-comment-footer-post{
  border-radius: var(--borderRadiusSmall);
  background:transparent ;
  color: white;
  border: none;
  padding: 1px;
}

.button-comment-footer-post:hover{

  box-shadow: none;
  cursor: pointer;
}

.button-report-footer-post{
  border-radius: var(--borderRadiusSmall);
  background:transparent ;
  color: white;
  border: none;
  padding: 1px;
}

.button-report-footer-post:hover{

  box-shadow: none;
  cursor: pointer;
}

.span-countlikes-footer-post{
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-countcomments-footer-post{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-footer-post img{
  width: 3em;
  height: 3em;
}