.home-page-categoryParent-li{
  list-style: none;
}

.home-page-subcategory-li{
  list-style: none;
}

aside{
  padding:10px;
  min-height: 100vh;

}

footer{
  /* margin-top: 100vh; */
  margin-top: 10px;
}