.buttonCategory-generic-{
  text-align: left;
  border-radius: var(--borderRadiusSmall);
  padding-right: 15px;
  background: transparent;
  color: var(--midBlue);
  border: none;
  height: 2.5em;
  padding-left: 15px;
  border:1px solid transparent;
}
.buttonCategory-generic-:hover{
  background: transparent;
  border: 1px solid var(--midBlue);
  color: black;
  box-shadow: none;
  cursor: pointer;
}

.buttonCategory-generic-hover{
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: var(--borderRadiusSmall);
  background: transparent;
  color: black;
  border: 1px solid var(--midBlue);

  height: 2.5em;
}
.buttonCategory-generic-hover:hover{
  background: transparent;
  border: 1px solid var(--midBlue);
  color: black;
  box-shadow: none;
cursor: pointer;
}