.button-generic{
  border-radius: var(--borderRadiusSmall);
  background:var(--midBlue) ;
  color: white;
  border: 1px var(--darBlueOpacity) solid;
  width: 10em;
  height: 2.5em;
}
.button-generic:hover{
  background: var(--midBlue) ;
  color: white;
  box-shadow: none;
cursor: pointer;  
}
.large{
  border-radius: var(--borderRadiusSmall);
  background:var(--midBlue) ;
  color: white;
  font-size: large  ;
  border: 1px var(--darBlueOpacity) solid;
  width: 10em;
  height: 2.5em;
}