
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display:flex */
}

#root{
  display:flex;
  flex-direction: column;
  max-height: 100vh;
  background-color:  tomato;
}
/* .header-style{
  background-color: blue;
  display: flex;
 flex-direction: row;
 justify-content: space-evenly;
} */

.layout {
  width: 100%;
  background-color: #25426A;
  display: flex;
  gap: 160px;
  padding: 25px
}

.search-div { 
  flex-grow: 3; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.layout2 {
  width: 100%;
 height: 100%;
  display: flex;
  gap: 16px;
}

/* .abs2 { flex-grow: 3; } */

.abs{
  padding:10px
}
