:root{
  --darkBlue: #101826;
  --midBlue: #374151;
  --lightBlue: #74C9EF;
  /* --lightBlue: #1C64F2; */
  --white: #F3FFFC;
  --beige: #EEE0CA;
  --red: #C63B25;
  --optinalBlue: #517689;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display:flex;
  flex-direction: column;
  min-width: 1200px;
  width: 100%;
  height: 100%;
  background:linear-gradient(144deg,#569ABC,#ffffff, 75%,#74C9EF);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}




