.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 7rem;
  border-bottom: 0.5px solid var(--darBlueOpacity);
  background: var(--midBlue); 
  position: fixed;
  z-index: 8;
}

.div-button-users-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: fixed;
  right: 12px;
}
.form-search-header {
  display: flex;
  align-items: center;
  position: relative;
}
.div-search-header {
  position: relative;
}


.img-search-header {
  width: 2em;
  height: 2em;
}

.button-search-header {
  background: transparent;
  border: none;
  border-radius: var(--borderRadiusSmall);
  position: absolute;
  right: 10px;
  top: 2.5px;
}

.button-search-header:hover {
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

.input-search-header {
  border-radius: var(--borderRadiusSmall);
  border: 1px black solid;
  width: 50rem;
  height: 2.5em;
  padding-left: 25px
}

.button-register-header {
  border-radius: var(--borderRadiusSmall);
  background: transparent;
  color: black;
  border: 1px black solid;
  width: 10em;
  height: 2.5em;
}
.button-register-header:hover {
  background: transparent;
  color: black;
  box-shadow: none;
  cursor: pointer;
}

.button-login-header {
  border-radius: var(--borderRadiusSmall);
  background: transparent;
  color: black;
  border: 1px black solid;
  width: 10em;
  height: 2.5em;
}
.button-login-header:hover {
  background: transparent;
  color: black;
  box-shadow: none;
  cursor: pointer;
}

.button-avatar-user-header{
  background: transparent;
  width: 70px;
  height: 70px;
  border: none;
}

.button-logout-header{
  background: transparent;
  width: 61px;
  height: 75px;
  border: none;
}