
.div-user-profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadiusSmall);
  transition: all 0.4s;
  background-size: 100%;
  margin-top: 5rem;

}

.form-user-profile {
  display: flex;
  align-items: left;
  flex-direction: column;
  border: 0.5px solid #294d61;
  margin: 5em;
  background: linear-gradient(144deg, #e6e3d7, #ffffff, 75%, #f6f2e7);
  width: 50em;
  border-radius: var(--borderRadiusSmall);
  box-shadow: var(--borderColorShadow);
  padding: 1.5rem;
  gap: 0.3rem;
}

.input-user-profile{
  border-radius: var(--borderRadiusSmall);
  width: 40rem;
  height: 2rem;
  margin-left: 2rem;
  padding-left: 1rem
}


.title-user-profile {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%;
}

.label-user-profile {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.button-user-profile {
  border-radius: var(--borderRadiusSmall);
  background: var(--midBlue);
  color: white;
  border: 1px #6da5c0 solid;
  width: 10em;
  height: 3rem;
  margin-top: 1.4rem;
  margin-left: 18rem;
  font-size: 1rem;
}
.button-user-profile:hover {
  background: var(--midBlue);
  color: white;
  box-shadow: none;
  cursor: pointer;
}

.img-user-profile{
  width: 25px;
  height: 25px;

}

.button-edit-profile{
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.image-edit-profile{
  background: none;
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

.div-avatar-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 10px;
}

.button-edit-profile:hover{
  cursor: pointer;
}
