.header-post {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 1em;
  margin: 1em;
  
}

.header-post-username{
  margin-right: 6em;
}

.header-post-date{
display: flex;
justify-content: end;
width: 100%;
margin-right: 1em;
}

.img-header-post{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 8px;
  margin-left: 8px;
}